{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock %}
{% block body %}
<div class="bg-success py-5">
<div class="container-fluid form-body">
    <div class="container">
            {% if validlink %}
                <form method="post" class="mx-auto">
                    <h4 class="text-center">Reset Your Password</h4>
                    {% csrf_token %}
                    <div class="mb-3 mt-5">
                        <label for="password" class="form-label">password</label>
    {#                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">#}
                                              {{ form.new_password1 }}
                    </div>
                    <div class="mb-3 mt-5">
                        <label for="password" class="form-label">Confirm password</label>
    {#                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">#}
                                              {{ form.new_password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
            {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    This password reset link is no longer valid. Please request a new one.
                </div>
            {% endif %}
    </div>
</div>
</div>
{% endblock %}
