{% extends 'base.html' %}
{% load static %}
{% block title %} Password reset Page {% endblock %}
{% block body %}
<style>

</style>
    <div class="bg-success" style=" background:-webkit-linear-gradient(#c5e5e5, #ccddf9);
  background: linear-gradient(#e1a90b, #091e0e);">
        <div class="form-body">
            <div class="container-fluid">
                <form method="post" class="mx-auto">
                    {% csrf_token %}
                    <h4 class="text-center">Reset Password</h4>
                    <div class="mb-3 mt-5">
                        <label for="InputEmail" class="form-label">Email</label>
    {#                    <input type="email" name="InputEmail" class="form-control" id="InputEmail" aria-describedby="emailHelp">#}
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-success mt-4" >Request Password Reset</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
