{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}
{% block body %}
<div class="bg-success text-white py-5">
    <div class="container-fluid">
            <div class="cols-md-4">
                <h2 class="text-center">Password Reset Complete</h2>
                <p class="text-center">Your password has been successfully reset.</p>
                <div class="text-center mt-4">
                    <p>You can now <a href="{% url 'login' %}" class="btn btn-light px-2 py-1">Login</a> with your new password.</p>
                </div>
            </div>
    </div>
</div>
{% endblock %}
