{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}
{% block body %}
<div class="bg-success text-white py-5">
    <div class="container-fluid">
            <div class="cols-md-4">
                <h2 class="text-center">Password Reset Sent</h2>
                <p class="text-center">An email has been sent with instructions on how to reset your password. Please check your inbox.</p>
                <div class="text-center mt-4">
                    <a href="{% url 'login' %}" class="btn btn-light">Return to Login</a>
                </div>
            </div>
    </div>
</div>
{% endblock %}
