{% extends 'base.html' %}
{% load static %}
{% block title %} Login Page {% endblock %}
{% block body %}
    <div class="bg-success  ">
        <div class="container-fluid form-body">
            <div class="container">
                <form method="post" class="mx-auto">
                    {% csrf_token %}
                    <h4 class="text-center">Sign Up</h4>
                      <div class="mb-3 mt-5">
                        <label for="username" class="form-label">Username</label>
                          {{ form.username }}
                      </div>
                      <div class="mb-3 mt-5">
                        <label for="email" class="form-label">Email id</label>
                          {{ form.email }}
                      </div>
                      <div class="mb-3">
                        <label for="password1" class="form-label">Password</label>
                          {{ form.password1 }}
                      </div>
                      <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                          {{ form.password2 }}
                      </div>
                      <button type="submit" class="btn btn-primary mt-4">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}