{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block article-bootstrap %} <link rel="stylesheet" href="{% static 'articles-form.css' %}"> {% endblock %}
{% block body %}
    <style>
        body {
            background-color: #e8f5e9; /* Light green background */
            color: #ffffff;
        }
        .btn-quarternary {
            background-color: #218838; /* Default green background */
            color: #ffffff;
        }
    </style>
    <div class="background-div" style="background: url('{% static '../media/article_bg_img/article_b_img_5.jpg' %}') no-repeat center center fixed; background-size: cover; min-height: 100vh;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-6 col-md-6">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Post an Article!</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-quarternary" type="submit"><strong>POST</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
