{% extends 'base.html' %}
{% load static %}
{% block title %} Add Product {% endblock %}
{% block body %}
    <div class="form-body">
        <div class="container-fluid">
            <form method="post" class="mx-auto" enctype="multipart/form-data" >
                {% csrf_token %}
                <h4 class="text-center">Add Product</h4>
                <div class="mb-3 mt-5">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" name="name" id="id_name" class="form-control" maxlength="200" required>
                </div>
                <div class="mb-3">
                    <label for="id_price" class="form-label">Price</label>
                    <input type="number" name="price" id="id_price" class="form-control" step="0.01" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" name="on_sale" id="id_on_sale" class="form-check-input">
                    <label for="id_on_sale" class="form-check-label">On Sale</label>
                </div>
                <div class="mb-3">
                    <label for="id_image" class="form-label">Upload Product Image </label>
                    <input type="file" id="id_image" name="image" accept="image/*" required>
                </div>
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    <textarea name="description" id="id_description" rows="4" class="form-control" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="id_review_count" class="form-label">Review Count</label>
                    <input type="number" name="review_count" id="id_review_count" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="id_rating" class="form-label">Rating</label>
                    <input type="number" name="rating" id="id_rating" class="form-control" step="0.1" required>
                </div>
                <button type="submit" class="btn btn-success mt-4">Add Product</button>
            </form>
        </div>
    </div>
{% endblock %}
