{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="overlay">
            <div class="text-content">
                <h1>Start Your Gardening Journey Today</h1>
                <p>Let us help you transform your garden into a flourishing oasis. With Green Leaf Hub, you’re planting more than seeds—you’re cultivating a lifetime of beautiful, sustainable gardens. Browse our articles and shop our selections now to bring your green dreams to life!</p>
            </div>
        </div>
    </div>





{% endblock %}

  {% block body %}
    <div class="container" id="shop-section">
        <div class="row">
            <div class="col-md-12 products">
                <h2>Recently Added</h2>
                {% include "product_card.html" with products=products|slice:":4" %}
                <div class="view-all text-center">
                    <a href="{% url 'product_gallery' %}" class="btn btn-primary">View All</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}