{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="overlay">
            <div class="text-content">
                <h1>Start Your Gardening Journey Today</h1>
                <p>Let us help you transform your garden into a flourishing oasis. With Green Leaf Hub, you’re planting more than seeds—you’re cultivating a lifetime of beautiful, sustainable gardens. Browse our articles and shop our selections now to bring your green dreams to life!</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container" id="shop-section">
        <!-- Sidebar for Filtering -->
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="filter-group">
                    <h3>Price</h3>
                    <input type="range" min="0" max="100" value="50">
                    <button>Apply</button>
                </div>
                <div class="promotion">
                    <p>FREE SHIPPING</p>
                    <p>Over $125</p>
                    <p>TO THE U.S. LOWER 48</p>
                </div>
            </div>
            <div class="col-md-9 products">
                {% for product in products %}
                {% include "product_card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
