{% extends 'base.html' %}
{% load static %}
{% block title %} Edit Product {% endblock %}
{% block body %}


<style>
.btn-success {
    color: #fff;
    background-color: #7c7205;
    border-color: #7c7205;
}
</style>
<div class="bg-success" style=" background:-webkit-linear-gradient(#c5e5e5, #ccddf9);
  background: linear-gradient(#e1a90b, #091e0e);">
        <div class="form-body">
            <div class="container-fluid">
              <form method="post" class="mx-auto" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="text-center">Edit Product</h4>
                <div class="mb-3 mt-5">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" name="name" id="id_name" class="form-control" value="{{ product.name }}" maxlength="200" required>
                </div>
                <div class="mb-3">
                    <label for="id_price" class="form-label">Price</label>
                    <input type="number" name="price" id="id_price" class="form-control" value="{{ product.price }}" step="0.01" required>
                </div>
                <div class="mb-3">
                    <label for="image" >
                        Edit Product Image
                    </label>
                    <input id="image" type="file" name="image" class="form-control-file" required>
                </div>
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    <textarea name="description" id="id_description" rows="4" class="form-control" required>{{ product.description }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="countInStock" class="form-label">count In Stock </label>
                    <input type="number" name="countInStock" id="countInStock" class="form-control" value="{{ product.countInStock }}" required>
                </div>
                <button type="submit" class="btn btn-success mt-4">Save Changes</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
