<style>
 .btn1 {
    background-color: rgba(10, 66, 3, 0.78);
    color: white;
    border: 2px solid rgba(10, 66, 3, 0.78);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    margin-right: 10px;
 }

.btn1:hover {
    background-color: white;
    color: rgba(10, 66, 3, 0.78);
    box-shadow: 0px 4px 8px rgb(37, 181, 19);
}

.btn1:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect on focus */
}

</style>
<div class="col-md-1">
{#    {% if is_paginated %}#}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-4">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="btn1 btn-outline-success" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="btn1 btn-outline-success" href="?page={{ page.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for num in page.paginator.page_range %}
                    {% if page.number == num %}
                        <li class="page-item active">
                            <a class="btn1 btn-success" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num > page.number|add:-3 and num < page.number|add:3 %}
                        <li class="page-item">
                            <a class="btn1 btn-outline-success" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <li class="page-item">
                        <a class="btn1 btn-outline-success" href="?page={{ page.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="btn1 btn-outline-success" href="?page={{ page.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
{#    {% endif %}#}
</div>